/* You can add global styles to this file, and also import other style files */

body {
    background-color: gray;
    padding: 0%;
    margin: 0%;
    height: 100%;
    overflow: hidden;
}

.navbar-item {
   padding-left: 70px;
}

.navbar-nav {
    margin-left: 950px;
    letter-spacing: 0.5px;
}

#missionStatement{
    padding: 100px;
    letter-spacing: 1px;
    padding-top: 300px;
}
#mascot{
    padding: 150px;
    padding-top: 250px;
}

.loginContainer {   
    padding: 40px;
    margin-top: 250px;
}



.footerContent{
    position: absolute;
    bottom: 0%;
    width: inherit;
    padding-left: 450px;
    
}

span{
    padding-left: 20px;
    align-content: center;
    
}