* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.form-text {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.heading {
    align-content: center;
}

.formContainer {
    padding-left: 300px;
    
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}