<nav class="navbar navbar-expand-sm bg-light">
    <a href="" class="navbar-brand">Find A Tutor</a>
    <ul class="navbar-nav">
      <li class="navbar-item">
          <a [routerLink]="['/login']" routerLinkActive="router-link-active" > Login</a>
      </li>
      <li class="navbar-item">
          <a [routerLink]="['/enquiries']" > Enquiries</a>
      </li>
    </ul>
  </nav>

  
 <footer>
   <div class="footer container">
     <div class="row footerContent">
       <span > &copy; 2019</span>
       <span > <a href="#" class="fa fa-twitter"></a> </span>
       <span> <a href="#" class="fa fa-facebook"></a> </span>
       <span> <a href="#" class="fa fa-linkedin"></a> </span>
     </div>
   </div>
 </footer>
<router-outlet></router-outlet>
